:root {
  /* 사이즈나 색을 변수로 지정해 사용한다 */
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  /* size */
  --base-space: 8px;
  --size-btn: 60px;
  --size-border: 4px;
  --btn-font-size: 18px;
  --size-thumbnail: 50px;

  /* animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.game-ground {
  display: flex;
  /* 정렬 축 결정 */
  flex-direction: column;
  /* 아이템들을 축의 중앙 으로 정렬 정 가운데로 오게 */
  justify-content: center;
  /* 아이템들 중앙라인 으로 정렬 */
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* 마우스 hover 시 커지는 애니메이션 추가 */
.logo:hover,
.filter:hover {
  transform: scale(1.1);
}

.category {
  display: flex;
  justify-content: center;
  width: 60%;
}
.filter {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-space);
  background-position: center;
}
.img-btn {
  width: var(--size-btn);
  height: var(--size-btn);
}
.color-btn {
  font-size: var(--btn-font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}
#top {
  background-image: url("./img/blue_t.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#pants {
  background-image: url("./img/blue_p.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#skirt {
  background-image: url("./img/blue_s.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#yellow {
  background-color: var(--color-yellow);
}
#blue {
  background-color: var(--color-blue);
}
#pink {
  background-color: var(--color-pink);
}

.item-list {
  list-style: none;
  width: 60%;
  height: 60%;
  padding-left: 0;
  overflow-y: auto;
}

.item {
  display: flex;
  font-size: var(--btn-font-size);
  line-height: 50px;
  border: 2px solid #dddddd;
  border-radius: 6px;
  padding: 5px;
  background-color: #fffffd;
  margin-bottom: 5px;
}
.item__image {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
}

.invisible {
  display: none;
}
